@media screen and (max-width: 991px) {
  h1{
    font-size: 37px !important;
    margin-top: 40px !important;
  }
  .home .container > p{
    font-size: 17px !important;
  }
  
header nav .navbar-collapse ul li a::after,
header nav .accordion-item > button::after,
header nav .navbar-collapse ul li a:hover:after,
header nav .accordion-item > button:hover:after,
header nav .accordion-item > button:focus::after,
.nav-link:focus::after{
opacity: 0;
}
.navbar-toggler{
  width: 40px !important;
}
.navbar-collapse{
border-top: 1px solid #e1e7f1 !important;
}
.navbar{
  padding: 10 !important;
}
.accordion-body{
  position: relative !important;
  width: 100%;
}
nav .container{
  padding: 0px !important;
}
nav .container > p{
  padding-left: 10px;
}
.navbar-toggler:focus{
  border: 0;
  box-shadow:  0 0 0 #fff;
}
header nav .navbar-collapse ul li{
  padding: 10px;
  padding-left: 10px;
  transition: 0.1s;
}
.accordion-item{
  width: 100%;
}
.collapsed{
  transition: 0.1s !important;
  width: 100%;
  text-align: start;
}
.nav-itempro:hover .collapsed,
header nav .navbar-collapse ul li:hover{
  background-color: #7e22fe34 !important;
}
header nav .navbar-collapse ul{
  gap: 0px;
}
.no-paddingb{
  padding-bottom: 0 !important;
}
.accordion-body{
  width: 100% !important;
}
.accordion-body > div > div {
  width: 100%;
}
.accordion-body > div > div > div{
  background-color: #f9fafb;
  border-radius: 16px; 
  padding: 16px 12px 20px;
  margin-bottom: 10px;
}
.dis-flex-lg{
  display: flex !important;
}
.Resources > span{
  display: none !important;
}
.Resources p {
  margin-bottom: 0 !important;
}
.services .container{
  padding-inline: 0 !important;
}
.carousel-control-prev{
  display: none;
}
.carousel-control-next{
    display: none;
}
.carousel-inner{
  width: 100% !important;
}
.testimonials .container {
  padding: 0 !important;
}
.faq .accordion-flush{
  width: 90%;
  margin: auto;
}
.top-section h2 {
    font-size: 40px !important;
  }
  .top-section p {
    font-size: 16px !important;
    width: 80% !important;
  }
  .top-section > div{
    font-size: 10px;
  }
  .services{
    padding-inline: 20px;
  }
}
@media screen and (min-width: 992px) {
.Miami:hover {
    background:linear-gradient(to right ,#4e179abb, #4e179abb) , url(../images/miami.jpeg) ;
  background-size: cover;
  background-position: center;
}
.new-york:hover{
    background:linear-gradient(to right ,#4e179abb, #4e179abb) , url(../images/new-york.jpeg) ;
      background-size: cover;
  background-position: center;
}
.los:hover{
    background:linear-gradient(to right ,#4e179abb, #4e179abb) , url(../images/los-angeles.jpeg) ;
      background-size: cover;
  background-position: center;
}
.accordion-body{
  box-shadow: 0 20px 25px -5px #4a556535;
}
}
@media screen and (max-width: 1199px){
.design1,
.design2{
  display: none;
}
.contact::before{
  content: "";
  display: none;
}
.contact::after{
  content: "";
  display: none;
}
.contact .container {
  padding: 0 !important;
}
}
@media screen and (max-width: 768px){
.faq .accordion-flush{
  width: 100%;
}
  section {
  padding-inline: 30px !important;
}
}
