* {
  scroll-behavior: smooth;
}
::selection {
  background-color: #a684ff;
  color: #fff;
}
body {
  font-family: sans-serif;
}
/*---------navbar-----------*/
header nav .accordion-item > button .active,
.navbar .nav-link.active {
  font-weight: 600 !important;
  color: #7f22fe !important;
  position: relative;
}
header nav .accordion-item > button .active::after,
.navbar .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #7f22fe;
}
header nav .container > p {
  color: #1d293d;
}
header nav {
  background-color: white;
  border-bottom: 1px solid #e1e7f1;
  box-shadow: 0 2px 6px -1px #80808069;
}
header nav .navbar-collapse ul {
  gap: 32px;
}
header nav .accordion-item > button,
header nav .navbar-collapse ul li > a {
  color: #324157 !important;
  padding: 0 !important;
  position: relative;
  transition: 0.3s;
}
header nav .accordion-item > button:hover,
header nav .navbar-collapse ul li > a:hover {
  color: #7f22fe !important;
}

header nav .navbar-collapse ul li > a::after,
header nav .accordion-item > button::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #7f22fe;
  transition: 0.3s;
}
header nav .navbar-collapse ul li > a:hover::after,
header nav .accordion-item > button:hover::after {
  width: 100%;
}

header #menu-toggle {
  display: none;
}
header .close {
  display: none;
}
header #menu-toggle:checked + .menu-btn .bars {
  display: none;
}
header #menu-toggle:checked + .menu-btn .close {
  display: inline;
}
header #menu-toggle:checked ~ .menu {
  display: block;
}
header .c-product h2 {
  font-size: 18px;
  font-weight: 600;
}
header .c-product > div {
  width: 264px;
  padding: 0;
}
header .luxury {
  gap: 12px;
  padding: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: 0.3s;
}
header .luxury:hover {
  background-color: #f9fafb;
}
header .img-luxury {
  width: 64px;
  height: 64px;
}
header .p-luxury p {
  font-weight: 500px;
  font-size: 14px;
  color: #101828;
}
header .p-luxury span {
  font-size: 14px;
  color: #6a7282;
}
header .Property > div > a {
  color: #4a5464;
  transition: 0.3s;
  margin-bottom: 12px;
  cursor: pointer;
}
header .Property > div > a:hover {
  color: #7f22fe;
}
header .Popular {
  gap: 12px;
}
header .Popular > div {
  margin-bottom: 12px;
  cursor: pointer;
}
header .Miami {
  width: 100%;
  height: 80px;
  background:
    linear-gradient(to right, #4e179aaa, #4e179aaa), url(../images/miami.jpeg);
  background-size: cover;
  background-position: center;
}
header .los p,
header .new-york p,
header .Miami p {
  font-size: 18px;
  font-weight: 600;
}
header .los span,
header .new-york span,
header .Miami span {
  font-size: 14px;
  color: #ddd6ff;
}
header .new-york {
  background:
    linear-gradient(to right, #4e179aaa, #4e179aaa),
    url(../images/new-york.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80px;
}
header .los {
  background:
    linear-gradient(to right, #4e179aaa, #4e179aaa),
    url(../images/los-angeles.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80px;
}
header .Resources {
  border: 1px solid #ede9ff;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
header .Resources:hover {
  border-color: #ddd6ff;
}
header .top-resources {
  margin-bottom: 12px;
}
header .Resources .top-resources span {
  width: 40px;
  height: 40px;
  background-color: #ede9ff;
  color: #7f22fe;
  font-size: 20px;
}
header .Resources .top-resources p {
  margin-left: 12px;
  font-size: 18px;
  font-weight: 600;
  color: #101828;
}
header .Resources:hover .top-resources p {
  color: #7f22fe;
}
header .Resources > p {
  color: #4a5565;
  margin-bottom: 12px;
}
header .Resources > span {
  color: #7f22fe;
  font-size: 14px;
  font-weight: 500;
}
header .Resources > span i {
  transition: 0.1s;
  margin-left: 4px;
  font-size: 16px;
}
header .Resources:hover > span i {
  margin-left: 8px;
}
header .circle {
  width: 128px;
  height: 128px;
  background-color: #f8f7ff;
  top: -80px;
  right: -80px;
}
header .Resources:hover .circle {
  background-color: #f5f3fe;
}
header .green .top-resources span {
  background-color: #dcfce7;
  color: #00a63e;
}
header .purple .top-resources span {
  background-color: #f3e8ff;
  color: #990ffa;
}
header .green {
  border-color: #dcfce7;
}
header .purple {
  border-color: #f3e7ff;
}
header .green:hover {
  border-color: #b9f8cf;
}
header .purple:hover {
  border-color: #ead4ff;
}
header .green:hover .top-resources p {
  color: #00a63e;
}
header .purple:hover .top-resources p {
  color: #9810fa;
}
header .green > span {
  color: #00a63e;
}
header .purple > span {
  color: #9810fa;
}
header .green .circle {
  background-color: #f3fef6;
}
header .green:hover .circle {
  background-color: #ecfdf2;
}
header .purple .circle {
  background-color: #fbf6ff;
}
header .purple:hover .circle {
  background-color: #f9f3ff;
}
header label i:hover {
  color: #7f22fe;
}
/* ------------end navbar------------ */
/* ------------start haro------------ */

.bg-hero {
  height: 100vh;
  background:
    linear-gradient(to left, #59168bcc, #59168bcc),
    url(../images/hero-bg-img.png);
  background-position: center;
  background-size: cover;
  z-index: -3;
}
.home {
  padding-top: 120px;
}
.home .container {
  max-width: 842px;
  padding-bottom: 66px !important;
}
h1 {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.container > p {
  font-size: 20px;
  color: #e5e7eb;
}
.form-label {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #364153 !important;
  outline: none;
}
form div > i {
  bottom: 20%;
  left: 20px;
  color: #9aa1af;
}
.home .form-control,
.home .form-select {
  padding: 12px 16px;
  background-image: none !important;
  position: relative;
}
.home .form-control::placeholder {
  color: #9aa1af;
}
.form-control:focus,
.form-select:focus {
  border: 1px solid #8e51ff;
  box-shadow: 0 0px 0px 0px #8e51ff !important;
}
.home form button {
  background: linear-gradient(to left, #9810fa, #7f22fe);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 32px;
  color: #fff;
}
.statistics span {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.statistics p {
  color: #ddd6ff;
}
/* ------------end haro------------ */
/* ------------start Premium------------ */
.premium {
  padding-block: 80px;
  background-color: #f9fafb;
}
.top-section {
  margin-bottom: 64px;
}
.top-section > div {
  font-size: 12px;
  font-weight: 700;
  color: #7008e7;
  background-color: #f4f3ff;
  border: 2px solid #ddd6ff;
}
.top-section > div::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -80px;
  width: 64px;
  height: 2px;
  background: linear-gradient(to left, #7008e7, #00000000);
}
.top-section > div::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -80px;
  width: 64px;
  height: 2px;
  background: linear-gradient(to right, #7008e7, #00000000);
}
.top-section h2 {
  font-size: 48px;
  font-weight: 900;
  background: linear-gradient(to left, #fe9a00 5%, #9810fa 50%);
  background-clip: text;
  color: #00000000;
}
.top-section p {
  color: #4a5565;
  font-size: 20px;
  width: 610px;
}
.premium .card {
  width: 100% !important;
}
.premium .card .img-card {
  height: 256px;
  cursor: pointer;
}
.premium .card .img-card img {
  transform: translateY(-60px);
  transition: 0.3s;
}
.premium .card:hover .img-card img {
  transform: scale(1.1) translateY(-60px);
}
.Featured {
  top: 16px;
  left: 16px;
  padding: 4px 12px;
  background-color: #7008e7;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
.Photos {
  bottom: 16px;
  left: 16px;
  padding: 4px 12px;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.7);
}
.heart {
  top: 16px;
  right: 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #4a5565;
  padding: 12px 6px;
}
.heart:hover {
  color: #fb2c36;
}
.top-body-card {
  margin-bottom: 12px;
}
.top-body-card span {
  font-size: 14px;
  color: #6a7282;
}
.card-body h3 {
  font-size: 30px;
  font-weight: 700;
  color: #7f22fe;
}
.card-body > p {
  color: #4a5565;
  font-weight: 500;
  margin-bottom: 12px;
}
.card-body h4 {
  font-size: 16px;
  font-weight: 500;
  color: #1e2939;
}
.card-body h5 {
  font-size: 16px;
  font-weight: 400;
  color: #4a5565;
  margin-bottom: 16px;
}
.bottom-card img {
  width: 32px;
}
.bottom-card span {
  font-size: 14px;
  color: #4a5565;
}
.bottom-card a {
  background-color: #ede9ff;
  color: #7f22fe;
  font-size: 14px;
  font-weight: 500;
}
.bottom-card a:hover {
  background-color: #ddd6ff;
  color: #7f22fe;
}
.card {
  box-shadow: 0 10px 15px -3px #80808041;
}
.bg-green {
  background-color: #00a63e;
}
.bg-orange {
  background-color: #e17100;
}
.premium .container > button {
  font-weight: 600;
  background: linear-gradient(to left, #9810fa, #7f22fe);
  color: #fff;
  padding: 16px 32px;
}
.premium .container > button:hover {
  background: linear-gradient(to left, #8a10e2, #6b1cda);
}
/* ------------end Premium------------ */
/* ------------start services------------ */

.services {
  padding: 80px 0;
  background-color: #fff;
}
.services .nav-tabs .nav-link.active {
  background-color: #f5f3ff;
  color: #8023ff;
  border: 2px solid #f5f3ff;
  border-bottom: 2px solid #8023ff;
}
.services .nav-tabs .nav-link {
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  color: #4a5565;
  border-top: 0;
  border-width: 0;
  border-radius: 0;
  border: 2px solid #00000000;
}
.services .nav-tabs .nav-link:focus {
  border: 2px solid #0060cc;
  box-shadow: 0 0 0 0 #00000000;
  border-radius: 4px;
}
.services .nav-tabs .nav-link:hover {
  border: 2px solid #005fcc00;
  color: #8023ff;
  border-bottom: 2px solid #7f23ff66;
}
.services .services .nav-tabs {
  width: 100%;
  margin-bottom: 32px;
}
.disc-services h3 {
  font-size: 30px;
  font-weight: 700;
}
.disc-services > p {
  font-size: 18px;
  color: #4a5565;
  margin-bottom: 32px;
}
.property-search > span {
  padding: 16px 11px;
  background-color: #ede9ff;
  color: #7f22fe;
  border-radius: 6px;
  height: fit-content;
}
.property-search > div h4 {
  font-weight: 600;
  font-size: 20px;
}
.property-search > div p {
  color: #4a5565;
}
.disc-services .btn {
  padding: 16px 32px;
  margin-top: 32px;
  background-color: #8023ff;
  color: #fff;
  font-weight: 600;
}
.disc-services .btn:hover {
  background-color: #701fe0;
}
.img-services img {
  height: 384px;
}
.img-services > div {
  bottom: -24px;
  box-shadow: 0 10px 15px -3px #4a556535;
  background-color: #fff;
}
.img-services > div p {
  font-size: 24px;
  font-weight: 700;
  color: #7f22fe;
}
.img-services > div span {
  color: #4a5565;
}

.left-div {
  left: -24px;
}
.right-div {
  right: -24px;
}
.property-search .green-span {
  background-color: #dcfce7;
  color: #00a63e;
}
.disc-services .green-btn {
  background-color: #00a63e;
}
.disc-services .green-btn:hover {
  background-color: #008236;
}
.green-img p {
  color: #00a63e !important;
}

.property-search .purple-span {
  background-color: #f3e8ff;
  color: #9810fa;
}
.disc-services .purple-btn {
  background-color: #9810fa;
}
.disc-services .purple-btn:hover {
  background-color: #7513bb;
}
.purple-img p {
  color: #9810fa !important;
}

.property-search .yellow-span {
  background-color: #fff9c2;
  color: #d08800;
}
.disc-services .yellow-btn {
  background-color: #d08800;
}
.disc-services .yellow-btn:hover {
  background-color: #8e5d01;
}
.yellow-img p {
  color: #d08800 !important;
}

.property-search .blue-span {
  background-color: #e0e7ff;
  color: #4f39f6;
}
.disc-services .blue-btn {
  background-color: #4f39f6;
}
.disc-services .blue-btn:hover {
  background-color: #3728af;
}
.blue-img p {
  color: #4f39f6 !important;
}
/* ------------end services------------ */
/* ------------srart services------------ */
.testimonials {
  padding: 80px 0;
  background: linear-gradient(to right, #4d179a, #59168b);
}
.testimonials .top-section > div {
  color: #7008e7;
}
.testimonials .top-section > div::after {
  content: "";
  background: linear-gradient(to right, #ffbb0000, #ffb900);
}
.testimonials .top-section > div::before {
  content: "";
  background: linear-gradient(to left, #ffbb0000, #ffb900);
}
.testimonials .top-section > h2 {
  color: #fff;
}
.testimonials .top-section > p {
  color: #ddd6ff;
}
.testimonials .testimonial-card {
  margin: auto;
}
.carousel-item {
  overflow: hidden !important;
  width: 100% !important;
}
/* Arrows */
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-100%);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  opacity: 1;
  font-size: 20px;
  transition: 0.3s;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: rgba(255, 255, 255, 0.3);
}
.carousel-control-prev {
  left: 60px;
}
.carousel-control-next {
  right: 60px;
}
/* Indicators */
.carousel-indicators button {
  border-radius: 50%;
  margin: 0 7px !important;
  background: #a855f7 !important;
}
.carousel-indicators .active {
  background: #fff !important;
}
.carousel-indicators .foot-testimonials {
  width: 8px !important;
  height: 12px !important;
  border-radius: 50%;
  border: 0 !important;
  margin: 4px !important;
}
.carousel-indicators {
  margin-top: 32px !important;
}
.carousel-indicators [data-bs-target] {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  margin: 0 6px !important;
  border: none;
  opacity: 0.4;
  background: #fff !important;
}
.carousel-indicators .active {
  opacity: 1;
}
.testimonial-card {
  padding: 32px;
}
.top-testimonial span {
  font-size: 20px;
  display: flex;
}
.top-testimonial div {
  font-weight: 500;
  color: #4a5565;
}
.testimonial-card > p {
  font-size: 20px;
  color: #364153;
  margin-bottom: 32px;
}
.foot-testimonial {
  gap: 12px;
}
.foot-testimonial img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.foot-testimonial h3 {
  font-weight: 700;
  font-size: 18px;
}
.foot-testimonial p {
  color: #4a5565;
}
.foot-testimonial span {
  font-size: 14px;
  color: #6a7282;
}
/* ------------end services------------ */
/* ------------start faq------------ */
.faq {
  padding: 80px 0;
  background-color: #f9fafb;
}
.faq .top-section > h2 {
  background: linear-gradient(to left, #9810fa, #7008e7);
  background-clip: text;
}
.faq .accordion-flush {
  width: 70%;
  margin: auto;
}
.faq .accordion-body,
.faq .accordion-item {
  border-radius: 16px;
  overflow: hidden;
}
.faq .accordion-button {
  padding: 24px 32px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  transition: 0.1s;
}
.faq .accordion-button:hover {
  background-color: #f9fafb;
}
.faq .accordion-body {
  padding: 24px 32px;
  color: #4a5565;
}
.accordion-button:not(.collapsed) {
  background-color: inherit;
}
.accordion-button:focus {
  box-shadow: 0 0 0 0 #fff;
}
.faq .accordion-item {
  box-shadow: 0 10px 15px -3px #0000001a;
  background-color: #fff;
}
/* ------------end faq------------ */
/* ------------start contact------------ */
.contact {
  padding: 80px 0;
  background-color: #fff;
}
.top-contact {
  border: 2px solid #f3f4f6;
  transition: 0.3s;
}
.top-contact:hover {
  transform: translateY(-15px);
  border: 2px solid #c5b3ff;
}
.top-contact div {
  width: 64px !important;
  height: 64px !important;
  background-color: #873fff;
  font-size: 24px;
  color: #fff;
  transition: 0.3s;
}
.top-contact:hover div {
  transform: scale(1.1);
}
.top-contact h3 {
  font-weight: 700;
  font-size: 18px;
}
.top-contact h4 {
  font-size: 14px;
  color: #4a5565;
  margin-bottom: 12px;
}
.top-contact a {
  color: #7008e7;
  font-weight: 600;
}
.top-contact a:hover {
  color: #6107c8;
}
.contact-purple:hover {
  border: 2px solid #dab2ff;
}
.contact-purple div {
  background-color: #9f28fe;
}
.contact-purple a {
  color: #9810fa;
}
.contact-purple a:hover {
  color: #810dd4;
}
.contact-pink:hover {
  border: 2px solid #f4a8ff;
}
.contact-pink div {
  background-color: #9e28fe00;
  background: linear-gradient(to top left, #fe9a00, #e12afb);
}
.contact-pink a {
  color: #e60075;
}
.contact-pink a:hover {
  color: #be0062;
}
.contact-blue:hover {
  border: 2px solid #a3b4ff;
}
.contact-blue div {
  background-color: #5240f8;
}
.contact-blue a {
  color: #4f39f6;
}
.contact-blue a:hover {
  color: #4230d0;
}
.marg-b-64 {
  margin-bottom: 64px;
}
.contact-info {
  padding: 32px;
  background: linear-gradient(to bottom right, #f9fafb, #f4f5f7);
}
.contact-info h3 {
  font-size: 24px;
  font-weight: 700;
}
.icon-contact-info {
  width: 48px;
  height: 48px;
  background-color: #fff;
  color: #8023ff;
  font-size: 20px;
  border-radius: 12px;
}
.p-contact-info h4 {
  font-weight: 600;
  font-size: 16px;
}
.p-contact-info span a,
.p-contact-info span {
  font-weight: 600;
  font-size: 14px;
  font-weight: 400;
  color: #4a5565;
}
.phone-contact {
  color: #990ffa;
}
.email-contact {
  color: #e60076;
}
.hours-contact {
  color: #4f39f5;
}
.with-us {
  padding: 32px;
  background: linear-gradient(to bottom right, #7f22fe, #9810fa);
}
.with-us h3 {
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}
.with-us p {
  font-size: 14px;
  color: #ede9fe;
}
.with-us div div {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  font-size: 20px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
.with-us div div:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
}
.form {
  padding: 40px;
  border: 2px solid #f6f3f4;
}
.form h3 {
  margin-bottom: 12px;
  font-size: 30px;
  font-weight: 700;
}
.form p {
  margin-bottom: 32px;
  color: #4a5565;
}
form label {
  color: #364153;
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 14px;
}
form div {
  width: 100%;
}
form button {
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(to left, #9810fa, #7f22fe);
  color: #fff;
  transition: 0.3s;
}
.button-form:hover {
  transform: translateY(-5px);
}
.form-check-input:checked {
  background-color: #7f22ff;
}
label span {
  color: red;
}
.form-control {
  padding: 12px 16px;
  border: 2px #e5e6ea solid;
  box-sizing: border-box;
  width: 100%;
  border-radius: 12px;
  color: #f1f1f1;
  background-color: #f9fafb;
}
.form-select {
  border: 2px #e5e6ea solid;
  margin-bottom: 24px;
  padding: 12px 16px;
  border-radius: 12px;
  background-color: #f9fafb;
}
.form-select:focus {
  border: solid 2px #7f22fe;
}
.form-control:focus,
textarea:focus {
  border: solid 2px #7f22fe;
}
.form-select::placeholder,
.form-control::placeholder,
textarea::placeholder {
  color: #7d7d7e;
}
.foot-form-contact {
  font-size: 14px;
  color: #6a7282;
}
.contact::after {
  content: "";
  position: absolute;
  width: 384px;
  height: 384px;
  top: 75%;
  right: 73%;
  transform: translate(-50%, 50%);
  background-color: #f6f4ff;
  border-radius: 50%;
}
.contact::before {
  content: "";
  position: absolute;
  width: 384px;
  height: 384px;
  bottom: 100%;
  left: 100%;
  transform: translate(-50%, 50%);
  background-color: #f6f4ff;
  border-radius: 50%;
}
.design1 {
  width: 128px;
  height: 128px;
  border: 4px solid #ddd6ff;
  top: 50px;
  right: 50px;
}
.design2 {
  width: 96px;
  height: 96px;
  border: 4px solid #ddd6ff;
  bottom: 110px;
  left: 110px;
  z-index: 1;
}
/* ------------end contact------------ */
/* ------------start contact------------ */
footer {
  background: linear-gradient(to left, #59168b, #4d179a);
}
.top-footer h2 {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.top-footer p {
  color: #ddd6ff;
}
.top-footer div div {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: 0.3s;
}
.top-footer div div:hover {
  transform: scale(1.1);
  background-color: #7f22fe;
}
.bottom-footer {
  color: #c4b4ff;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/* ------------end contact------------ */
section{
  padding: 20px 30px 20px !important;
}
